.containerStyle {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  /* background-color: red; */
  min-height: 100%;
}
.header {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 50px;
  /* Space between the header and content */
  /* font-weight: bold; */
}


.styledTable {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 18px;
  text-align: left;
  width: 100%;
}

.styledTable thead tr {
  background-color: #ffb703;
  color: #ffffff;
  text-align: left;
}

.styledTable th {
  padding: 10px 5px;
  border: 1px solid #ddd;
}

.styledTable td {
  padding: 5px 5px;
  border: 1px solid #ddd;
  color: black;
}

.styledTable tbody tr {
  background-color: white;
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid #ffb703;
}

.styledTable tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}



@media print {

  .header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 50px;
      /* Space between the header and content */
      /* font-weight: bold; */
  }


  
  .styledTable {
      border-collapse: collapse;
      margin: 15px auto;
      font-size: 10px;
      text-align: left;
      width: 90%;
  }

  .styledTable th {
      padding: 10px 5px;
      border: 1px solid #ddd;
      font-size: 10;
  }
  
  .styledTable td {
      padding: 5px 5px;
      border: 1px solid #ddd;
      font-size: 8;
  }

}


.formContainer {
  width: 50%;
  margin: 0 auto;
  background-color: orange;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.formGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #1e40af;
}