*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.borrowedItems{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.tableContainer {
    margin: 20px auto;
    width: 80%;
    overflow-x: auto;
    /* position: relative; */
  }
  
  .styledTable {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
    width: 100%;
  }
  
  .styledTable thead tr {
    background-color: #ffb703;
    color: #ffffff;
    text-align: left;
  }
  
  .styledTable th {
    padding: 10px 5px;
    border: 1px solid #ddd;
    font-size: 15px;
  }

  .styledTable td {
    padding: 3px 5px;
    border: 1px solid #ddd;
    font-size: 15px;
  }
  
  .styledTable tbody tr {
    background-color: white;
    border-bottom: 1px solid #dddddd;
  }
  
  .styledTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styledTable tbody tr:last-of-type {
    border-bottom: 2px solid #ffb703;
  }
  
  .styledTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  

  .serialNumber {
    width: 100px;
    text-align: center;
  }

  .input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: 0;
    margin: 5px 0 20px 0;
    font-size: 20px;
    padding: 5px;
  }