.history {
    width: 80%;
    margin: 20px auto;
}

.borrowedItems {
    width: 80%;
    margin: 0 auto;
}


.tableContainer {
    margin: 20px auto;
    width: 80%;
    overflow-x: auto;
    /* position: relative; */
}

.styledTable {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
    width: 100%;
}

.styledTable thead tr {
    background-color: #ffb703;
    color: #ffffff;
    text-align: left;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styledTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
    border-bottom: 2px solid #ffb703;
}

.styledTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.serialNumber {
    width: 100px;
    text-align: center;
}