.navbar {
    width: 100%;
    height: 130px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background-color: #FFDF00;
    color: white;
    position: relative;
    border-radius: 5px;
  }

  .navbarLogo{
    width: 20%;
    display: flex;
    justify-content: end;
    margin: 0 10px 0 10px;
  }
  
  .navbarLogo img {
    height: auto;
    width: 125px;
  }
  
  .navbarLinks {
    list-style: none;
    display: flex;
    gap: 15px;
    height: auto;
    padding: 0 20px;
  }

  .pages{
    width: 100%;
    margin: 3px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0056b3; */
    height: 80px;
    color: #fff;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 187, 0);
    border-radius: 5px;
  }
  .navbarLinks a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color 0.3s;
    /* font-weight: bold; */
  }
  
  .navbarLinks a:hover {
    color: white;
    border-bottom: 0.1rem solid white;
  }

  .navbarLinks .icon:hover {
    color: white;
  }
  
  
  div a:hover {
    color: white;
    border-bottom: 0.1rem solid white;
  }

  div .icon:hover {
    color: white;
  }

  div a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color 0.3s;
    /* font-weight: bold; */
  }