*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 130px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background-color: #FFDF00;
    color: white;
    position: relative;
    border-radius: 5px;
  }

  .navbarLogo{
    width: 20%;
    display: flex;
    justify-content: end;
    margin: 0 10px 0 10px;
  }
  
  .navbarLogo img {
    height: auto;
    width: 125px;
  }
  
  .navbarLinks {
    list-style: none;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 30px; */
    height: auto;
    padding: 10px;
  }

  .pages{
    width: 280px;
    /* margin: 3px auto; */
    padding: 15px 5px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* background-color: #0056b3; */
    height: 100vh;
    color: #fff;
    font-family: Arial, sans-serif;
    /* background-color: rgb(255, 187, 0); */
    background-color: gray;
  }
  .navbarLinks a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    padding: 10px;
    /* font-weight: bold; */
    /* background-color: blue; */
  }
  
  /* .navbarLinks a:hover {
    color: white;
    background-color: 0.2rem solid white;
  } */

  .navbarLinks .icon:hover {
    color: white;
  }
  
  
 .navbarLinks a:hover {
    color: white;
    /* background-color: gray; */
    color:  rgb(255, 187, 0);
    border-radius: 5px;
  }

  div .icon:hover {
    color: white;
  }

  div a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color 0.3s;
    /* font-weight: bold; */
  }